/* styles.css */
body {
	background: #fff;
	font: 11px normal arial, verdana, helvetica, sans, serif, sans-serif,  "Times New Roman";
    margin: 0px; /* This will be replaced with 0 ( 0px; )*/
	padding: 0;
}

.text img {	float: left }

.codehtml,
.codephp,
.codetext {
    background: #1e5799;
    background: linear-gradient(to bottom, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
	font: normal 8pt mono, "Courier New", Courier;
	margin: 0em 5px; /* This will be replaced with 0 ( 0px; )*/
	padding: 5px;
}

.quotetitle {
	border: #000 solid 1px;
	font-size: 8pt;
	font-style: italic;
	margin: 10px 0;
	padding: 5px;
}

.quotetext {
    background: #4C5A64;
    background: linear-gradient(180deg, #6D818F 1%, #404F5A 60%, #2E3940 99%);
	border: #000 solid 1px;
    border-radius: 5px;
    box-sizing: content-box;
	font: italic 9pt "Courier New", Courier, mono;
	margin: 10px 0;
	padding: 5px;
}

.icon {
    background: transparent;
    white-space: nowrap;
}
.icon:before {
    content: '';
    background: transparent url(../../images/icons.png) no-repeat 16px 16px;
    margin: 0 3px;
    left: 0;
    top: 3px;
    position: relative;
    width: 16px;
    height: 16px;
    display: inline;
    display: inline-block;
}
