/* styles.css */
body {
    background: #fff;
    margin: 0px;    /* This will be replaced with 0 ( 0px; )*/
    padding: 0;
}

.center { text-align: center; }

.done {
    color: red;
    font: 20px bold arial, verdana, helvetica, sans;
    margin: 10px auto;
    width: 88px;
}

.emoticon {
    margin: 0 0 0 50px;
    height: 30px;
    width: 35px;
}

.license {
    background: transparent url(assets/images/CC-BY-SA-LICENSE4.0.png) no-repeat;
    margin: 50px auto;
    height: 31px;
    width: 88px;
}

.codehtml,
.codephp,
.codetext {
    background: #1e5799;
    background: linear-gradient(to bottom, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
    font: normal 8pt mono, "Courier New", Courier;
    margin: 0em 5px;    /* This will be replaced with 0 ( 0em; )*/
    padding: 5px;
}

.someclass {
    background: #4C5A64;
    background: linear-gradient(180deg, #6D818F 1%, #404F5A 60%, #2E3940 99%);
    border: #000 solid 1px;
    border-radius: 5px;
    box-sizing: content-box;
}
